version: "3.7"
services:
  # Apache HTTPD: Entry point for the application.
  proxy:
    image: mekomsolutions/proxy:69f1dce
    command: "httpd-foreground ${PROXY_TLS}"
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost/"
    networks:
      bahmni:
        aliases:
          - bahmni-proxy
          - proxy
    ports:
      - "${PROXY_PUBLIC_PORT}:80"
      - "${PROXY_PUBLIC_PORT_TLS}:443"
      - "${ODOO_PUBLIC_PORT}:8069"
    volumes:
      - "./proxy/confs:/usr/local/apache2/conf/extra"
      - "${PROXY_TLS_CERTS_PATH:-proxy-tls-certs}:/etc/tls"

  # Bahmni Apps: The main front-end component
  # aka 'Bahmni EMR'
  bahmniapps:
    image: mekomsolutions/bahmniapps:69f1dce
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8900/home/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmniapps-1
    volumes:
      - "${BAHMNI_APPS_PATH:-bahmni-apps}:/var/www"

  # Implementer Interface: Front-end application to bring Bahmni Forms 2.0
  implementer-interface:
    image: mekomsolutions/implementer-interface:69f1dce
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8902/implementer_interface/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - implementer-interface

  bahmni-home:
    image: mekomsolutions/httpd:69f1dce
    restart: unless-stopped
    expose:
      - "8904"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8904/document_images/index.html"
      timeout: 20s
    depends_on:
      - openmrs
    networks:
      bahmni:
        aliases:
          - bahmni-home-1
    volumes:
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/var/www/"
      - ./properties/apache/httpd-8904.conf:/usr/local/apache2/conf/httpd.conf

  # Appointments
  appointments:
    image: mekomsolutions/appointments:82b6948
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8903/appointments/index.html"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - appointments-1

  # Bahmni Config: Bahmni Apps configuration
  bahmni-config:
    image: httpd:2.4
    restart: unless-stopped
    expose:
      - "8901"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8901/openmrs/apps/home/app.json"
      timeout: 20s
    networks:
      bahmni:
        aliases:
          - bahmni-config-1
    volumes:
      - ./properties/apache/httpd-8901.conf:/usr/local/apache2/conf/httpd.conf
      - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www"

  # OpenMRS:
  openmrs:
    image: mekomsolutions/openmrs:69f1dce
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      OPENELIS_HOST: openelis
      OPENELIS_ATOMFEED_USER: ${OPENELIS_ATOMFEED_USER}
      OPENELIS_ATOMFEED_PASSWORD: ${OPENELIS_ATOMFEED_PASSWORD}
      ODOO_USER: ${ODOO_USER}
      ODOO_PASSWORD: ${ODOO_PASSWORD}
      ODOO_DB: odoo
      ODOO_HOST: http://odoo
      ODOO_PORT: 8069
      MODULE_WEB_ADMIN: "true"
      DB_AUTO_UPDATE: "true"
      DB_CREATE_TABLES: "true"
      DB_HOST: mysql
      DB_DATABASE: openmrs
      DB_USERNAME: ${OPENMRS_DB_USER}
      DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      TZ: ${TIMEZONE}
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/openmrs/"
      timeout: 5s
    networks:
      bahmni:
        aliases:
          - openmrs
          - openmrs-tomcat
    volumes:
      - "openmrs-data:/usr/local/tomcat/.OpenMRS/"
      - "${OPENMRS_OWAS_PATH:-openmrs-owas}:/usr/local/tomcat/.OpenMRS/owa/"
      - "${OPENMRS_MODULES_PATH:-openmrs-modules}:/usr/local/tomcat/.OpenMRS/modules/"
      - "${OPENMRS_CONFIG_PATH:-openmrs-config}:/usr/local/tomcat/.OpenMRS/configuration/"
      - "${OPENMRS_CONFIG_CHECKSUMS_PATH:-openmrs-config-checksums}:/usr/local/tomcat/.OpenMRS/configuration_checksums/"
      - "${OPENMRS_LUCENE_PATH:-openmrs-lucene}:/usr/local/tomcat/.OpenMRS/lucene"
      - "${OPENMRS_ACTIVEMQ_PATH:-openmrs-active-mq}:/usr/local/tomcat/.OpenMRS/activemq-data"
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/home/bahmni/"
      - "${BAHMNI_OBSCALCULATOR_PATH:-bahmni-obscalculator}:/usr/local/tomcat/.OpenMRS/obscalculator/"
      - ./properties/openmrs/:/etc/properties/
      - "${BAHMNI_IMAGE_PATH:-bahmni-images}:/home/bahmni/patient_images"

  # MySQL
  mysql:
    image: "mariadb:10.3"
    restart: unless-stopped
    command: "mysqld --character-set-server=utf8 --collation-server=utf8_general_ci --log-bin --binlog-format=ROW  --server-id=2"
    environment:
      MYSQL_DATABASE: openmrs
      MYSQL_USER: ${OPENMRS_DB_USER}
      MYSQL_PASSWORD: ${OPENMRS_DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
      EIP_DB_NAME: ${EIP_DB_NAME}
      EIP_DB_USER: ${EIP_DB_USER}
      EIP_DB_PASSWORD: ${EIP_DB_PASSWORD}
    healthcheck:
      test: "exit 0"
    networks:
      bahmni:
        aliases:
          - openmrs-mysql
    ports:
      - "3306:3306"
    volumes:
      - "${MYSQL_DATADIR:-mysql-data}:/var/lib/mysql"
      - "${SQL_SCRIPTS_PATH:-./sqls}/mysql:/docker-entrypoint-initdb.d"

  # Bahmni Reports: Standalone Java app to provide Reporting capabilities
  bahmni-reports:
    image: mekomsolutions/bahmni-reports:69f1dce
    restart: unless-stopped
    environment:
      # OpenMRS DB connection details
      OPENMRS_DB_HOSTNAME: mysql
      OPENMRS_DB_NAME: openmrs
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USER}
      MYSQL_PASSWORD: ${OPENMRS_DB_PASSWORD}
      # Odoo DB connection details
      ERP_DB_HOSTNAME: postgresql
      ERP_DB_USERNAME: ${ODOO_DB_USER}
      ERP_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # Additional MySQL root creds (?)
      MYSQL_ROOT_USER: root
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      # Bahmni Reports own database
      REPORTS_DB_HOSTNAME: mysql
      REPORTS_DB_NAME: bahmni_reports
      REPORTS_DB_USERNAME: ${REPORTS_DB_USER}
      REPORTS_DB_PASSWORD: ${REPORTS_DB_PASSWORD}
      # OpenMRS API credentials
      OPENMRS_HOSTNAME: openmrs
      OPENMRS_REPORTS_USER: ${OPENMRS_REPORTS_USER}
      OPENMRS_REPORTS_PASSWORD: ${OPENMRS_REPORTS_PASSWORD}
      #
      BAHMNI_LOGIN_URL: "http://localhost/bahmni/home/index.html#/login"
      BAHMNI_CONFIG_URL: "http://bahmni-config:8901/"
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://localhost:8080/bahmni-reports"
    depends_on:
      - postgresql
      - mysql
    networks:
      bahmni:
        aliases:
          - bahmni-reports
    volumes:
        - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www/bahmni_config"
        - "bahmni-reports-data:/reports"
        - ./properties/bahmni-reports/:/etc/conf/

  # Bahmni Mart: Standalone JAVA app to schedule ETL tasks
  bahmni-mart:
    image: mekomsolutions/bahmni-mart:69f1dce
    restart: unless-stopped
    environment:
      # OpenMRS DB connection details
      OPENMRS_DB_HOST: mysql
      OPENMRS_DB_NAME: openmrs
      OPENMRS_DB_USER: ${OPENMRS_DB_USER}
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      # Odoo DB connection details
      ERP_DB_HOSTNAME: postgresql
      ERP_DB_NAME: odoo
      ERP_DB_USERNAME: ${ODOO_DB_USER}
      ERP_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # Anayltics DB connection details. This is the actual Bahmni Mart database.
      ANALYTICS_DB_HOST: postgresql
      ANALYTICS_DB_NAME: analytics
      ANALYTICS_DB_USER: ${ANALYTICS_DB_USER}
      ANALYTICS_DB_PASSWORD: ${ANALYTICS_DB_PASSWORD}
      #
      CRON_TIME: ${CRON_TIME}
    depends_on:
       - openmrs
       - mysql
       - postgresql
    networks:
      bahmni:
        aliases:
          - bahmni-mart
    volumes:
      - "${BAHMNI_CONFIG_PATH:-bahmni-config}:/var/www/bahmni_config"
      - "${BAHMNI_HOME_PATH:-bahmni-home}:/home/bahmni"
      - "./bahmni-mart/conf:/opt/bahmni-mart/conf"

  # Metabase: Reporting paltform
  metabase:
    image: mekomsolutions/metabase:69f1dce
    restart: unless-stopped
    environment:
      MB_DB_TYPE: postgres
      MB_DB_PORT: 5432
      MB_DB_DBNAME: metabase
      MB_DB_USER: ${METABASE_DB_USER}
      MB_DB_PASS: ${METABASE_DB_PASSWORD}
      MB_DB_HOST: postgresql
      MB_ADMIN_EMAIL: ${METABASE_USER}
      MB_ADMIN_PASSWORD: ${METABASE_PASSWORD}
    networks:
      bahmni:
        aliases:
          - metabase
    ports:
      - "${METABASE_PUBLIC_PORT}:3000"
    volumes:
      - ${BAHMNI_CONFIG_PATH:-}/metabase:/opt/metabase-config

  # Postgreql: Database shared by multiple services
  postgresql:
    image: postgres:9.6-alpine
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 10s
      retries: 15
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      # Metabase DB vars
      METABASE_DB_NAME: metabase
      METABASE_DB_USER: ${METABASE_DB_USER}
      METABASE_DB_PASSWORD: ${METABASE_DB_PASSWORD}
      # Analystics (Bahmni Mart)
      ANALYTICS_DB_NAME: analytics
      ANALYTICS_DB_USER: ${ANALYTICS_DB_USER}
      ANALYTICS_DB_PASSWORD: ${ANALYTICS_DB_PASSWORD}
      # Odoo DB vars
      ODOO_DB_NAME: odoo
      ODOO_DB_USER: ${ODOO_DB_USER}
      ODOO_DB_PASSWORD: ${ODOO_DB_PASSWORD}
      # OpenELIS DB Vars
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      OPENELIS_DB_NAME: ${OPENELIS_DB_NAME}
    networks:
      bahmni:
        aliases:
          - odoo-postgresql
          - bahmni-mart-postgresql
          - bahmni-mart-db
    ports:
      - "5432:5432"
    volumes:
      - ${POSTGRES_DATADIR:-postgresql-data}:/var/lib/postgresql/data
      - "${SQL_SCRIPTS_PATH:-./sqls}/postgresql:/docker-entrypoint-initdb.d"

  # Odoo: The ERP component of Bahmni
  odoo:
    depends_on:
      postgresql:
        condition: service_healthy
    image: mekomsolutions/odoo:2c1706f
    restart: unless-stopped
    environment:
      - HOST=odoo-postgresql
      - USER=${ODOO_DB_USER}
      - PASSWORD=${ODOO_DB_PASSWORD}
      - ADDONS=sale_management,stock,account_account,odoo_initializer,mrp,purchase,mrp_product_expiry,product_expiry,l10n_generic_coa
      - INITIALIZER_DATA_FILES_PATH=/mnt/odoo_config
      - INITIALIZER_CONFIG_FILE_PATH=/mnt/odoo_config/initializer_config.json
    networks:
      bahmni:
        aliases:
          - odoo-14
    volumes:
      - "${ODOO_FILESTORE:-odoo-filestore}:/var/lib/odoo/filestore"
      - "${ODOO_EXTRA_ADDONS:-odoo-extra-addons}:/mnt/extra-addons"
      - "${ODOO_CONFIG_PATH:-odoo-config}:/mnt/odoo_config"
      - "${ODOO_CONFIG_CHECKSUM_PATH:-odoo-checksums}:/mnt/odoo_config_checksum"
      - "./properties/odoo:/etc/properties"

  eip-client:
    depends_on:
      mysql:
        condition: service_started
    image: mekomsolutions/eip-client:sha-ed1c20e
    restart: unless-stopped
    volumes:
      - "${EIP_CONFIG_PATH}/config:/config"
      - "${EIP_CONFIG_PATH}/routes:/routes"
      - "${EIP_HOME_PATH:-eip-home}:/eip-home"
    environment:
      - MYSQL_DATABASE=openmrs
      - MYSQL_USER=${OPENMRS_DB_USER}
      - MYSQL_PASSWORD=${OPENMRS_DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - DB_HOST=mysql
      - DB_DATABASE=openmrs
      - OPENMRS_DB_PORT=5432
      - OPENMRS_URL=http://openmrs:8080
      - ODOO_URL=http://odoo:8069
      - ODOO_DATABASE=odoo
      - ODOO_USER=${ODOO_USER}
      - ODOO_PASSWORD=${ODOO_PASSWORD}
      - OPENMRS_DB_HOST=mysql
      - OPENMRS_DB_PORT=3306
      - OPENMRS_DB_NAME=openmrs
      - OPENMRS_DB_USER=${OPENMRS_DB_USER}
      - OPENMRS_DB_PASSWORD=${OPENMRS_DB_PASSWORD}
      - OPENMRS_USER=${OPENMRS_USER}
      - OPENMRS_PASSWORD=${OPENMRS_PASSWORD}
      - MYSQL_ADMIN_USER=root
      - MYSQL_ADMIN_USER_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - SPRING_MNGT_USER=${EIP_SPRING_USER:-name}
      - SPRING_MNGT_PASSWORD=${EIP_SPRING_PASSWORD:-password}
      - EIP_DB_NAME=${EIP_DB_NAME}
      - EIP_DB_USER=${EIP_DB_USER}
      - EIP_DB_PASSWORD=${EIP_DB_PASSWORD}
      - EIP_DB_HOST=mysql
      - EIP_DB_PORT=3306
      - OAUTH_CLIENT_SECRET=${OAUTH_CLIENT_SECRET}
      - OAUTH_ACCESS_TOKEN_URI=${OAUTH_ACCESS_TOKEN_URI}
      - OAUTH_ENABLED=${OAUTH_ENABLED}
      - OAUTH_CLIENT_ID=${OAUTH_CLIENT_ID}
      - RESULTS_ENCOUNTER_TYPE_UUID=${RESULTS_ENCOUNTER_TYPE_UUID}
      - CONCEPT_COMPLEX_UUID=${CONCEPT_COMPLEX_UUID}
      - OPENMRS_IDENTIFIER_TYPE_UUD=${OPENMRS_IDENTIFIER_TYPE_UUID}
      - DB_EVENT_DESTINATIONS=${DB_EVENT_DESTINATIONS}
      - CREATE_CUSTOMER_IF_NOT_EXIST=${CREATE_CUSTOMER_IF_NOT_EXIST}
      - ODOO_CUSTOMER_EXTERNAL_ID=${ODOO_CUSTOMER_EXTERNAL_ID}
      - ODOO_CUSTOMER_DOB_FIELD=${ODOO_CUSTOMER_DOB_FIELD}
      - ODOO_CUSTOMER_WEIGHT_FIELD=${ODOO_CUSTOMER_WEIGHT_FIELD}
      - EMR_WEIGHT_CONCEPT=${EMR_WEIGHT_CONCEPT}
      - ODOO_ENABLE_EXTRA_CUSTOMER_FIELDS_ROUTE=${ODOO_ENABLE_EXTRA_CUSTOMER_FIELDS_ROUTE}
    networks:
      bahmni:
        aliases:
          - eip-client

  openelis:
    image: mekomsolutions/openelis:69f1dce
    restart: unless-stopped
    depends_on:
      - postgresql
    environment:
      OPENELIS_DB_HOST: postgresql
      OPENMRS_HOST: openmrs
      OPENMRS_USER: ${OPENMRS_USER}
      OPENMRS_DB_SERVER: mysql
      OPENMRS_DB_PASSWORD: ${OPENMRS_DB_PASSWORD}
      OPENMRS_DB_USERNAME: ${OPENMRS_DB_USER}
      OPENMRS_PASSWORD: ${OPENMRS_PASSWORD}
      OPENELIS_DB_USER: ${OPENELIS_DB_USER}
      OPENELIS_DB_PASSWORD: ${OPENELIS_DB_PASSWORD}
      OPENELIS_DB_NAME: ${OPENELIS_DB_NAME}
      ATOMFEED_PROPERTIES_FILE_PATH: ${ATOMFEED_PROPERTIES_FILE_PATH:-/usr/local/tomcat/.OpenELIS/atomfeed.properties}
      HIBERNATE_PROPERTIES_FILE_PATH: ${HIBERNATE_PROPERTIES_FILE_PATH:-/usr/local/tomcat/.OpenELIS/hibernate.properties}
    healthcheck:
      test: "exit 0"
    networks:
      bahmni:
        aliases:
          - openelis
    volumes:
      - ./properties/openelis/:/etc/properties/

volumes:
  proxy-tls-certs: ~
  openmrs-data: ~
  mysql-data: ~
  openmrs-config: ~
  openmrs-config-checksums: ~
  openmrs-modules: ~
  openmrs-owas: ~
  bahmni-config: ~
  bahmni-obscalculator: ~
  bahmni-apps: ~
  bahmni-home: ~
  postgresql-data: ~
  odoo-extra-addons: ~
  odoo-config: ~
  odoo-filestore: ~
  bahmni-reports-data: ~
  openmrs-active-mq: ~
  openmrs-lucene: ~
  eip-home: ~
  eip-client-config: ~
  eip-client-routes: ~
  odoo-checksums: ~
  bahmni-images: ~
networks:
  bahmni:
